In [1]:
import pandas as pd

In [2]:
# IMDb data
imdb_df = pd.read_csv('IMDB-Movie-Data.csv')

# Rotten Tomatoes data
rt_df = pd.read_csv('rotten_tomatoes_movies.csv')

In [3]:
imdb_df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [4]:
rt_df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [5]:
print(imdb_df.columns)
print(rt_df.columns)

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')
Index(['rotten_tomatoes_link', 'movie_title', 'movie_info',
       'critics_consensus', 'content_rating', 'genres', 'directors', 'authors',
       'actors', 'original_release_date', 'streaming_release_date', 'runtime',
       'production_company', 'tomatometer_status', 'tomatometer_rating',
       'tomatometer_count', 'audience_status', 'audience_rating',
       'audience_count', 'tomatometer_top_critics_count',
       'tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count'],
      dtype='object')

In [6]:
# Rename the relevant columns in the Rotten Tomatoes dataset
rt_df.rename(columns={
    'movie_title': 'Title',           # Rename 'movie_title' to 'Title'
    'tomatometer_rating': 'Rating',   # Rename 'tomatometer_rating' to 'Rating'
    'original_release_date': 'Year',  # Rename 'original_release_date' to 'Year'
    'genres':'Genre'                  # Rename 'genres' to 'genre'
}, inplace=True)

In [7]:
print(rt_df.columns)

Index(['rotten_tomatoes_link', 'Title', 'movie_info', 'critics_consensus',
       'content_rating', 'Genre', 'directors', 'authors', 'actors', 'Year',
       'streaming_release_date', 'runtime', 'production_company',
       'tomatometer_status', 'Rating', 'tomatometer_count', 'audience_status',
       'audience_rating', 'audience_count', 'tomatometer_top_critics_count',
       'tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count'],
      dtype='object')

In [8]:
rt_df['Year'] = rt_df['Year'].str[:4]

In [9]:
rt_df.head()

,rotten_tomatoes_link,Title,movie_info,critics_consensus,content_rating,Genre,directors,authors,actors,Year,...,production_company,tomatometer_status,Rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [10]:
# Extract relevant columns from IMDb data
imdb_selected = imdb_df[['Title', 'Genre', 'Rating', 'Year']]

# Extract relevant columns from Rotten Tomatoes data
rt_selected = rt_df[['Title', 'Genre', 'Rating', 'Year']]

In [11]:
# Convert 'Year' to string in both datasets
imdb_selected['Year'] = imdb_selected['Year'].astype(str)
rt_selected['Year'] = rt_selected['Year'].astype(str)

# Now merge the two datasets
merged_df = pd.merge(imdb_selected, rt_selected, on=['Title', 'Year'], how='inner')

# Check the merged dataframe
print(merged_df.head())

                     Title                   Genre_x  Rating_x  Year  \
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi       8.1  2014
1               Prometheus  Adventure,Mystery,Sci-Fi       7.0  2012
2                     Sing   Animation,Comedy,Family       7.2  2016
3            Suicide Squad  Action,Adventure,Fantasy       6.2  2016
4               La La Land        Comedy,Drama,Music       8.3  2016

                                             Genre_y  Rating_y
0      Action & Adventure, Science Fiction & Fantasy      91.0
1  Action & Adventure, Drama, Horror, Science Fic...      73.0
2       Animation, Comedy, Musical & Performing Arts      72.0
3                                 Action & Adventure      26.0
4           Comedy, Drama, Musical & Performing Arts      91.0

C:\Users\pradh\AppData\Local\Temp\ipykernel_54024\4047143744.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_selected['Year'] = imdb_selected['Year'].astype(str)
C:\Users\pradh\AppData\Local\Temp\ipykernel_54024\4047143744.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt_selected['Year'] = rt_selected['Year'].astype(str)

In [12]:
# Keep IMDb genre and drop the duplicate from Rotten Tomatoes (Genre_y)
merged_df.drop('Genre_y', axis=1, inplace=True)
merged_df.rename(columns={'Genre_x': 'Genre'}, inplace=True)

In [13]:
merged_df.head()

                     Title                     Genre  Rating_x  Year  Rating_y
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi       8.1  2014      91.0
1               Prometheus  Adventure,Mystery,Sci-Fi       7.0  2012      73.0
2                     Sing   Animation,Comedy,Family       7.2  2016      72.0
3            Suicide Squad  Action,Adventure,Fantasy       6.2  2016      26.0
4               La La Land        Comedy,Drama,Music       8.3  2016      91.0

In [14]:
# Rename 'Rating_x' to 'Rating_IMDB' and 'Rating_y' to 'Rating_RT'
merged_df.rename(columns={'Rating_x': 'Rating_IMDB', 'Rating_y': 'Rating_RT'}, inplace=True)
merged_df.head()

,Title,Genre,Rating_IMDB,Year,Rating_RT
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",8.1,2014,91.0
1,Prometheus,"Adventure,Mystery,Sci-Fi",7.0,2012,73.0
2,Sing,"Animation,Comedy,Family",7.2,2016,72.0
3,Suicide Squad,"Action,Adventure,Fantasy",6.2,2016,26.0
4,La La Land,"Comedy,Drama,Music",8.3,2016,91.0

In [15]:
# Normalize IMDb rating to a 100-point scale
merged_df['IMDB_Score_Normalized'] = merged_df['Rating_IMDB'] * 10  # IMDb rating is scaled to a 100-point scale

# Create an average score combining IMDb and Tomatometer (Rotten Tomatoes)
merged_df['Average_Score'] = (merged_df['IMDB_Score_Normalized'] + merged_df['Rating_RT']) / 2

# Sort the dataframe by the average score
merged_df_sorted = merged_df.sort_values(by='Average_Score', ascending=False)

# Get the top N movies (e.g., top 10)
top_10_movies = merged_df_sorted.head(10)

# Display the top 10 movies
print(top_10_movies[['Title', 'Genre', 'Rating_IMDB', 'Rating_RT', 'Average_Score']])

                        Title                       Genre  Rating_IMDB  \
34            The Dark Knight          Action,Crime,Drama          9.0
348                        Up  Animation,Adventure,Comedy          8.3
478               Toy Story 3  Animation,Adventure,Comedy          8.3
162                Inside Out  Animation,Adventure,Comedy          8.2
539  How to Train Your Dragon  Animation,Action,Adventure          8.1
47                   Zootopia  Animation,Adventure,Comedy          8.1
89                   Whiplash                 Drama,Music          8.5
331       The Lives of Others              Drama,Thriller          8.5
131                 Spotlight         Crime,Drama,History          8.1
43         Mad Max: Fury Road     Action,Adventure,Sci-Fi          8.1

     Rating_RT  Average_Score
34        94.0           92.0
348       98.0           90.5
478       98.0           90.5
162       98.0           90.0
539       99.0           90.0
47        98.0           89.5
89        94.0           89.5
331       93.0           89.0
131       97.0           89.0
43        97.0           89.0

In [18]:
merged_df_sorted.head(20)

,Title,Genre,Rating_IMDB,Year,Rating_RT,IMDB_Score_Normalized,Average_Score
34,The Dark Knight,"Action,Crime,Drama",9.0,2008,94.0,90.0,92.0
348,Up,"Animation,Adventure,Comedy",8.3,2009,98.0,83.0,90.5
478,Toy Story 3,"Animation,Adventure,Comedy",8.3,2010,98.0,83.0,90.5
162,Inside Out,"Animation,Adventure,Comedy",8.2,2015,98.0,82.0,90.0
539,How to Train Your Dragon,"Animation,Action,Adventure",8.1,2010,99.0,81.0,90.0
47,Zootopia,"Animation,Adventure,Comedy",8.1,2016,98.0,81.0,89.5
89,Whiplash,"Drama,Music",8.5,2014,94.0,85.0,89.5
331,The Lives of Others,"Drama,Thriller",8.5,2006,93.0,85.0,89.0
131,Spotlight,"Crime,Drama,History",8.1,2015,97.0,81.0,89.0
43,Mad Max: Fury Road,"Action,Adventure,Sci-Fi",8.1,2015,97.0,81.0,89.0
152,Pan's Labyrinth,"Drama,Fantasy,War",8.2,2006,95.0,82.0,88.5
341,Ratatouille,"Animation,Comedy,Family",8.0,2007,96.0,80.0,88.0
115,Kubo and the Two Strings,"Animation,Adventure,Family",7.9,2016,97.0,79.0,88.0
65,The Departed,"Crime,Drama,Thriller",8.5,2006,91.0,85.0,88.0
72,12 Years a Slave,"Biography,Drama,History",8.1,2013,95.0,81.0,88.0
455,Boyhood,Drama,7.9,2014,97.0,79.0,88.0
117,Her,"Drama,Romance,Sci-Fi",8.0,2013,95.0,80.0,87.5
307,Hunt for the Wilderpeople,"Adventure,Comedy,Drama",7.9,2016,96.0,79.0,87.5
110,Casino Royale,"Action,Adventure,Thriller",8.0,2006,95.0,80.0,87.5
96,Room,Drama,8.2,2015,93.0,82.0,87.5

In [20]:
top_50_movies = merged_df_sorted.head(50)
top_50_movies

,Title,Genre,Rating_IMDB,Year,Rating_RT,IMDB_Score_Normalized,Average_Score
34,The Dark Knight,"Action,Crime,Drama",9.0,2008,94.0,90.0,92.0
348,Up,"Animation,Adventure,Comedy",8.3,2009,98.0,83.0,90.5
478,Toy Story 3,"Animation,Adventure,Comedy",8.3,2010,98.0,83.0,90.5
162,Inside Out,"Animation,Adventure,Comedy",8.2,2015,98.0,82.0,90.0
539,How to Train Your Dragon,"Animation,Action,Adventure",8.1,2010,99.0,81.0,90.0
47,Zootopia,"Animation,Adventure,Comedy",8.1,2016,98.0,81.0,89.5
89,Whiplash,"Drama,Music",8.5,2014,94.0,85.0,89.5
331,The Lives of Others,"Drama,Thriller",8.5,2006,93.0,85.0,89.0
131,Spotlight,"Crime,Drama,History",8.1,2015,97.0,81.0,89.0
43,Mad Max: Fury Road,"Action,Adventure,Sci-Fi",8.1,2015,97.0,81.0,89.0
152,Pan's Labyrinth,"Drama,Fantasy,War",8.2,2006,95.0,82.0,88.5
341,Ratatouille,"Animation,Comedy,Family",8.0,2007,96.0,80.0,88.0
115,Kubo and the Two Strings,"Animation,Adventure,Family",7.9,2016,97.0,79.0,88.0
65,The Departed,"Crime,Drama,Thriller",8.5,2006,91.0,85.0,88.0
72,12 Years a Slave,"Biography,Drama,History",8.1,2013,95.0,81.0,88.0
455,Boyhood,Drama,7.9,2014,97.0,79.0,88.0
117,Her,"Drama,Romance,Sci-Fi",8.0,2013,95.0,80.0,87.5
307,Hunt for the Wilderpeople,"Adventure,Comedy,Drama",7.9,2016,96.0,79.0,87.5
110,Casino Royale,"Action,Adventure,Thriller",8.0,2006,95.0,80.0,87.5
96,Room,Drama,8.2,2015,93.0,82.0,87.5
184,Sing Street,"Comedy,Drama,Music",8.0,2016,95.0,80.0,87.5
51,Inception,"Action,Adventure,Sci-Fi",8.8,2010,87.0,88.0,87.5
13,Manchester by the Sea,Drama,7.9,2016,96.0,79.0,87.5
93,Star Trek,"Action,Adventure,Sci-Fi",8.0,2009,94.0,80.0,87.0
475,The King's Speech,"Biography,Drama",8.0,2010,94.0,80.0,87.0
114,Nightcrawler,"Crime,Drama,Thriller",7.9,2014,95.0,79.0,87.0
69,Hell or High Water,"Crime,Drama,Thriller",7.7,2016,97.0,77.0,87.0
90,No Country for Old Men,"Crime,Drama,Thriller",8.1,2007,93.0,81.0,87.0
695,Selma,"Biography,Drama,History",7.5,2014,99.0,75.0,87.0
12,Arrival,"Drama,Mystery,Sci-Fi",8.0,2016,94.0,80.0,87.0
4,La La Land,"Comedy,Drama,Music",8.3,2016,91.0,83.0,87.0
355,Gravity,"Drama,Sci-Fi,Thriller",7.8,2013,96.0,78.0,87.0
295,The Bourne Ultimatum,"Action,Mystery,Thriller",8.1,2007,92.0,81.0,86.5
330,Argo,"Biography,Drama,History",7.7,2012,96.0,77.0,86.5
27,Moonlight,Drama,7.5,2016,98.0,75.0,86.5
227,Dallas Buyers Club,"Biography,Drama",8.0,2013,93.0,80.0,86.5
31,Star Wars: Episode VII - The Force Awakens,"Action,Adventure,Fantasy",8.1,2015,92.0,81.0,86.5
221,The Social Network,"Biography,Drama",7.7,2010,96.0,77.0,86.5
139,Iron Man,"Action,Adventure,Sci-Fi",7.9,2008,94.0,79.0,86.5
204,There Will Be Blood,"Drama,History",8.1,2007,92.0,81.0,86.5
302,Brooklyn,"Drama,Romance",7.5,2015,97.0,75.0,86.0
80,The Dark Knight Rises,"Action,Thriller",8.5,2012,87.0,85.0,86.0
48,Inglourious Basterds,"Adventure,Drama,War",8.3,2009,89.0,83.0,86.0
159,The Grand Budapest Hotel,"Adventure,Comedy,Drama",8.1,2014,91.0,81.0,86.0
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",8.1,2014,91.0,81.0,86.0
337,Moonrise Kingdom,"Adventure,Comedy,Drama",7.8,2012,94.0,78.0,86.0
7,Moana,"Animation,Adventure,Comedy",7.7,2016,95.0,77.0,86.0
519,True Grit,"Adventure,Drama,Western",7.6,2010,96.0,76.0,86.0
68,The Martian,"Adventure,Drama,Sci-Fi",8.0,2015,91.0,80.0,85.5
166,Children of Men,"Drama,Sci-Fi,Thriller",7.9,2006,92.0,79.0,85.5

In [21]:
# Save the top 50 movies to a CSV file
top_50_movies.to_csv('top_50_movies.csv', index=False)